.content{
    background-color: hotpink;
    width: 100%;
}
.img{
background-image: url("https://preview.redd.it/efcje6bc9dm51.png?auto=webp&s=0c0d0a0fa2c1f8c6d123858bb0485c706bf69182");
    background-position: center;
    background-size: cover;
    height: 500px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: end;
}